body {
  margin: 0px;
  user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

.ok {
  color: green;
}

.warning {
  color: red;
}
