body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #90939980;
  round-color: #90939980;
  -color: #90939980;
}
